<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.js'
    integrity='sha512-GD/8lMbRBL/mdNprXO8arveCcvbaBqqu2+OVHEuAtPhzO3hdTQ4Lawrm2NoIssnaWAWJkJylXtuweSZs23gtaA=='
    crossorigin='anonymous'></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- <h1>{{count}}</h1>
    <button v-on:click="count -= 1">Prev</button>
    <button v-on:click="count +=1">Next</button> -->
    <!-- <button v-for="num of total" @click="count = num-1">{{num-1}}</button>
    <h1>{{count}}</h1> -->
    <button v-for="(content,index) of contents" @click="clickHandler" :data-index="index">{{index}}</button>
    <button v-for="(content,index) of contents" @click="clickHandler2(index, $event)"
      :data-index="index">{{index}}</button>
    <div>
      <h1 v-for="(content,index) of contents" v-show="index === count">{{content}}</h1>
    </div>

    <div @click.self="nestClick ('1')" style="border: 1px solid;">
      <a href="#" @click.self="nestClick ('2')" style="padding: 10px;">
        <button @click.self="nestClick ('3')">aaa</button>
      </a>
    </div>

    <div @scroll="scrollHandler" style="height: 100px; border: 1px solid; overflow-y: scroll;">
      <div style="height: 500px;"></div>
    </div>

    <!-- <button @click="warn('Form cannot be submitted yet.',$event)">
      Submit
    </button> -->
    <input @click.right.prevent="nestClick('mouse right')" type="text">
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        count: 0,
        total: 4,
        contents: ['aaa', 'bbb', 'ccc', 'ddd'],
      },
      methods: {
        clickHandler(event) {
          this.count = event.target.dataset.index * 1
        },
        clickHandler2(index, event) {
          console.log(event)
          this.count = index
        },
        nestClick(num) {
          console.log(num)
        },
        scrollHandler() {
          console.log('SSS')
        },
        resizeHandler() {
          console.log('RRR')
        },
        warn(message, event) {
          if (event) {
            event.preventDefault()
          }
          alert(message)
        },
      },
      mounted() {
        window.addEventListener('scroll', this.scrollHandler)
        window.addEventListener('resize', this.resizeHandler)
      },
      beforeDestroy() {
        window.removeEventListener('scroll', this.scrollHandler)
        window.removeEventListener('resize', this.resizeHandler)
      },
    })
  </script>

</body>

</html>
