<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.js'
    integrity='sha512-GD/8lMbRBL/mdNprXO8arveCcvbaBqqu2+OVHEuAtPhzO3hdTQ4Lawrm2NoIssnaWAWJkJylXtuweSZs23gtaA=='
    crossorigin='anonymous'></script>
  <title>Document</title>
  <style>
    li button {
      display: none;
    }

    li:hover button {
      display: inline;
    }
  </style>
</head>

<body>
  <div id="app">
    <p>
      <input type="text" v-model="inputText" @compositionstart="cstartHandler" @compositionend="cendHandler"
        @keyup.enter="inputHandler">
    </p>
    <p>
      <button @click="show = 'all'">
        全部
      </button>
      <button @click="show = 'open'">
        未完成
      </button>
      <button @click="show = 'done'">
        完成
      </button>
    </p>
    <ul>
      <li v-for="item of filterList" :key="item.timestamp">
        <template v-if="editing === item">
          <input type="text" v-model="editingText">
          <button @click="completeHandler">完成</button>
          <button @click="cancelHandler">取消</button>
        </template>
        <template v-else>
          <input type="checkbox" v-model="item.status">
          {{ item.content }}
          <button @click="editHandler(item)">修改</button>
          <button @click="deleteHandler(item)">刪除</button>
        </template>
      </li>
    </ul>
  </div>

  <script>
    // Create Read Delete Update
    new Vue({
      el: "#app",
      data: {
        // 輸入文字
        inputText: "",
        // 所有資料
        list: [],
        // 輸入法狀態
        compositionStatus: false,
        // 修改資料對象
        editing: null,
        // 修改內容
        editingText: "",
        // 顯示類型
        show: "all"
      },
      computed: {
        // Read
        filterList() {
          //all,open,done
          if (this.show === "all") {
            return this.list
          } else if (this.show === "open") {
            return this.list.filter((item) => {
              return item.status === false
            })
          } else if (this.show === "done") {
            return this.list.filter((item) => {
              return item.status === true
            })
          } else {
            return []
          }
        },
      },
      methods: {
        // Create
        cstartHandler() {
          this.compositionStatus = true;
        },
        cendHandler() {
          this.compositionStatus = false;
        },
        inputHandler() {
          if (this.compositionStatus) return false;
          this.list.push({
            timestamp: new Date().getTime(),
            status: false,
            content: this.inputText
          });
          this.inputText = "";
        },
        // Delete
        deleteHandler(item) {
          this.list = this.list.filter((target) => {
            return target != item;
          });
          // this.list.splice(index,1)
        },
        // Update
        editHandler(item) {
          this.editing = item
          this.editingText = item.content
        },
        completeHandler() {
          this.editing.content = this.editingText
          this.cancelHandler()
        },
        cancelHandler() {
          this.editingText = ""
          this.editing = null
        }
      },
    });
  </script>
</body>

</html>
