<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js'
    integrity='sha512-o9SZrtqlGkpa7EF+dDrNjEdRFFYhymlrBzDKpolHNolxsyx0IcXAbEm9i1e8QpoiMgEdKZVtY8XiK1t8i6jVDA=='
    crossorigin='anonymous'></script>
  <title>Document</title>
</head>

<body>
  <!-- <div id="app1">
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
    <br><br>
  </div> -->
  <div id="app1">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
  </div>




  <!-- <div id="components-demo">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div> -->
  <div id="blog-post-demo">
    <blog-post v-for="post of posts" :key="post.id" :title="post.title"></blog-post>
  </div>

  <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title" v-bind:content="post.content"
    v-bind:publishedAt="post.publishedAt" v-bind:comments="post.comments"></blog-post>
  <script>
    // Vue.component('button-counter', {
    //   //funtion
    //   data: function () {
    //     return {
    //       count: 0
    //     }
    //   },
    //   // //object
    //   // data: {
    //   //   count: 0
    //   // },
    //   template: '<button @click="count++"> You clicked me {{ count }} times.</button>'
    // })
    // new Vue({
    //   el: '#components-demo'
    // })

    // Vue.component('blog-post', {
    //   props: ['title'],
    //   template: '<h3>{{ title }}</h3>'
    // })
    Vue.component('blog-post', {
      props: ['post'],
      template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <div v-html="post.content"></div>
    </div>
  `
    })

    // new Vue({
    //   el: '#blog-post-demo',
    //   data: {
    //     posts: [
    //       { id: 1, title: 'My journey with Vue' },
    //       { id: 2, title: 'Blogging with Vue' },
    //       { id: 3, title: 'why vue is so fun' },
    //     ]
    //   }
    // })
    new Vue({
      el: '#app1',
      data: {
        checkedNames: [],
        picked: '',
      }
    })

  </script>

</body>

</html>
